p{
            display: inline-block;
            margin: 12px;
        }
        .switch {
          position: relative;
          display: inline-block;
          width: 60px;
          height: 24px;
        }

        .switch input { 
          opacity: 0;
          width: 0;
          height: 0;
        }

        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #F44336;
          -webkit-transition: .4s;
          transition: .4s;
        }

        .slider:before {
          position: absolute;
          content: "";
          height: 16px;
          width: 16px;
          left: 9px;
          bottom: 4px;
          background-color: white;
          -webkit-transition: .4s;
          transition: .4s;
        }

        input:checked + .slider {
          background-color: #8BC34A;
        }

        input:focus + .slider {
          box-shadow: 0 0 1px #8BC34A;
        }

        input:checked + .slider:before {
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
          border-radius: 34px;
        }

        .slider.round:before {
          border-radius: 50%;
          box-shadow: 1px 1px 2px 0px black;
        }
        #router{
            display: none;          
            padding: 10px;
            box-shadow: 0px 0px 6px 1px #ababab;
        }
        #mapid { 
            height: 500px;
            position: relative;
            margin: 4px auto;
            width: 90%;
            box-shadow: rgb(93, 93, 93) 0px 0px 6px 0;
        }
        i{
            display: inline-flex;
            vertical-align: middle;
        }
        #sub3{
            display: block;
            text-align: center;
            margin: 2px auto;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #7CB342;
            color: white;
            font-size: 27px;
            line-height: 0;
        }
        #sub3:active{
            box-shadow: none;
        }
        #route_submit{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            font-size: 27px;
            margin: 2px;
            padding: 0px;
            color: white;
            background-color: #0277bd;
            line-height: 0;
        }
        #route_submit:active{
            box-shadow: none;
        }
        h3{
            text-align: center;
        }
        #add_address{
            margin: 34px auto;
            text-align: center;
            box-shadow: 0px 0px 4px 0px #d6d6d6;
        }
        #add_address:hover{
            box-shadow: 0px 0px 10px 0px #d6d6d6;
        }
        .main_con{
            text-align: center;
            margin: 6px auto;
            box-shadow: 0px 0px 4px 0px #d6d6d6;
        }
        .main_con:hover{
            box-shadow: 0px 0px 10px 0px #d6d6d6;
        }
        #add_address input{
            border: none;
            box-shadow: 2px 1px 2px 0px #a5a5a5;
            padding: 3px;
            text-align: center;
        }
        #m_addresses{
            margin: 5px;
        }
        #t_addresses{
            margin: 5px;
        }
        #m_addresses h4{
            font-size: 1.5rem;
            padding: 5px;
            background-color: #00695C;
            color: white;
            box-shadow: 0px 0px 1px 0px #b7b7b7;
        }
        #m_addresses div{
            background-color: #00897B;
            color: white;
            box-shadow: 0px 0px 1px 0px #b7b7b7;
            margin: 5px;
        }
        #t_addresses div{
            background-color: #0288D1;
            color: white;
            box-shadow: 0px 0px 2px 0px #000000;
            margin: 5px;
        }
        #t_addresses h4{
            font-size: 1.5rem;
            padding: 5px;
            background-color: #0277BD;
            color: white;
            box-shadow: 0px 0px 1px 0px #b7b7b7;
        }
        select{
            padding: 5px;
        }
        #router input{
            border: none;
            box-shadow: 2px 1px 2px 0px #a5a5a5;
            padding: 3px;
            text-align: center;
        }
        #header{
            position: fixed;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 30px;
            background: linear-gradient(-45deg,#673AB7,#F44336);
            color: white;
            z-index: 2;
            padding: 1px;
            box-shadow: 0px 0px 5px 0px grey;
        }
        .btncon1{
            position: fixed;
            top: -4px;
            right: 2px;         
            text-align: center;
            background-color: white;            
            border-radius: 3px;
            z-index: 1;
            margin:0;
        }
        .btncon1 button{
            background-color: #F44336;
            color: white;
            margin: 0;
            padding: 3px;
            width: 100px;
            border-radius: 8px;
            letter-spacing: 0.05em;
        }
        #crosscon{
            font-size: 32px;
            line-height: 0;
        }
        #crosscon:hover{
            cursor: pointer;
        }
        #cross{
            position: absolute;
            top: 0px;
            right: 2px;
        }